/*
  --dark-bkgd: #1f2937;
  --light-bkgd: #e5e7eb;
*/

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */

header {
  background-color: #1f2937;
  color: white;
  padding: 20px 250px;
  display: flex;
  justify-content: space-between;
}

header p {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

header ul {
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  list-style: none;
  gap: 20px;
}

/* HERO */

main {
  background-color: #1f2937;
  color: white;
  padding: 60px 250px;
  display: flex;
  gap: 50px;
}

main div img {
  object-fit: cover;
  width: 500px;
  height: 240px;
}

main h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

main p {
  font-size: 18px;
  color: #e5e7eb;
  padding: 10px 0;
}

main button {
  background-color: #3882f6;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 30px;
  border: none;
  border-radius: 10px;
}

/* Cards Section */
#cards-section {
  padding: 50px 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#cards-flexbox {
  display: flex;
  gap: 30px;
}

#cards-flexbox h2 {
  text-align: center;
}

.card-container {
  width: auto;
  border: 3px solid red;
}

.card {
  border: 3px solid #3882f6 !important; 
  border-radius: 10px;
  height: 150px;
  width: 150px;
}

#cards-flexbox div p {
  font-size: 16px;
  color: gray;
  width: 150px;
  text-align: center;
}

/* Quote */

#quote-section {
  background-color: #e5e7eb;
  padding: 100px 400px;
  display: flex;
  flex-direction: column;
}

#quote-section p {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
  margin-bottom: 10px;
}

#quote-section span {
  font-size: 18px;
  font-weight: bold;
  align-self: flex-end;
}